@import "base/breakpoints";

// A two-column grid, with a narrower left column and content centered in the right column.
.is-style-two-column-display {
	padding-left: var(--wp--custom--alignment--edge-spacing);
	padding-right: var(--wp--custom--alignment--edge-spacing);

	// Clear the columns styling on smaller screens
	&.wp-block-columns {
		display: block;
	}

	> .alignfull {
		width: auto;
		max-width: none;
		justify-self: stretch;
		margin-left: calc(-1 * var(--wp--custom--alignment--edge-spacing)) !important;
		margin-right: calc(-1 * var(--wp--custom--alignment--edge-spacing)) !important;
	}

	@include break-wide() {
		display: grid;
		grid-template-columns: calc(var(--wp--custom--layout--content-meta-size) - var(--wp--style--block-gap)) auto;

		// This defines the minimum horizontal gap. An additional implicit gap is created because the right column
		// contents have a `max-width` and are justified in the center.
		gap: 0 var(--wp--style--block-gap);

		> * {
			grid-column: 1;
			grid-row: auto;
			margin-top: 0;

			// Any following item should be in the second column.
			&.is-right-column,
			+ * {
				grid-column: 2;
				margin-top: 0;
				justify-self: center;
				width: var(--wp--custom--layout--content-size);
				max-width: var(--wp--custom--layout--content-size);
			}

			&.alignfull,
			&.alignwide {
				grid-column: 1 / 3;
			}

			&.alignwide {
				width: 100%;
				max-width: 100%;
			}
		}

		> .is-left-column {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		// If this variation is used on a group or post content, it should put all
		// content in the second column.
		&.wp-block-post-content,
		&.wp-block-group {
			> *:not(.alignfull):not(.alignwide):not(.is-style-two-column-display) {
				grid-column: 2;
				justify-self: center;
				width: var(--wp--custom--layout--content-size);
				max-width: var(--wp--custom--layout--content-size);
			}
		}

		// Add extra class for specificity when this is used on a columns block.
		&.wp-block-columns {
			display: grid;
		}
	}

	// Add support for nested grid-containers (for example, using this pattern in post content).
	> .is-style-two-column-display {
		padding-left: 0;
		padding-right: 0;

		@include break-wide() {
			grid-column: 1 / 3;
			width: auto;
			max-width: none;
			justify-self: stretch;
			margin-left: calc(-1 * var(--wp--custom--alignment--edge-spacing)) !important;
			margin-right: calc(-1 * var(--wp--custom--alignment--edge-spacing)) !important;
			padding-left: var(--wp--custom--alignment--edge-spacing);
			padding-right: var(--wp--custom--alignment--edge-spacing);
		}
	}
}

// Four column grid is only supported on wide & full widths.
.is-style-four-columns:where(.alignwide, .alignfull) {

	@include break-wide() {
		justify-self: center;
		width: var(--wp--custom--layout--wide-size);
		max-width: var(--wp--custom--layout--wide-size);

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--wp--style--block-gap);

		> * {
			// Remove nested margins so each child is vertically aligned.
			margin: 0 !important;
		}
	}
}
