@use "sass:math";
@import "base/breakpoints";

// A two-column grid, with a narrower left column and content centered in the right column.
.is-style-two-column-display {
	padding-left: var(--wp--preset--spacing--edge-space);
	padding-right: var(--wp--preset--spacing--edge-space);

	// Clear the columns styling on smaller screens
	&.wp-block-columns {
		display: block;

		> * + * {
			margin-top: var(--wp--style--block-gap);
		}
	}

	> .alignfull {
		width: auto;
		max-width: none;
		justify-self: stretch;
		margin-left: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
		margin-right: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
	}

	@include break-xlarge() {
		display: grid;
		grid-template-columns: calc(var(--wp--custom--layout--content-meta-size) - var(--wp--style--block-gap)) auto;

		// This defines the minimum horizontal gap. An additional implicit gap is created because the right column
		// contents have a `max-width` and are justified in the center.
		gap: 0 var(--wp--style--block-gap);

		> * {
			grid-column: 1;
			grid-row: auto;

			// Any following item should be in the second column.
			&.is-right-column,
			+ * {
				grid-column: 2;
				justify-self: center;
				width: 100%;
				max-width: var(--wp--custom--layout--content-size);
			}

			&.alignfull,
			&.alignwide {
				grid-column: 1 / 3;
			}

			&.alignwide {
				width: 100%;
				max-width: 100%;
			}
		}

		> .is-left-column {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
		}

		// If this variation is used on a group or post content, it should put all
		// content in the second column.
		&.wp-block-post-content,
		&.wp-block-group {
			> *:not(.alignfull):not(.alignwide):not(.is-style-two-column-display) {
				grid-column: 2;
				justify-self: center;
				width: 100%;
				max-width: var(--wp--custom--layout--content-size);
			}
		}

		// Add extra class for specificity when this is used on a columns block.
		&.wp-block-columns {
			display: grid;

			> * + * {
				margin-top: 0;
			}
		}
	}

	// Add support for nested grid-containers (for example, using this pattern in post content).
	> .is-style-two-column-display {
		padding-left: 0;
		padding-right: 0;

		@include break-xlarge() {
			grid-column: 1 / 3;
			width: auto;
			max-width: none;
			justify-self: stretch;
			margin-left: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
			margin-right: calc(-1 * var(--wp--preset--spacing--edge-space)) !important;
			padding-left: var(--wp--preset--spacing--edge-space);
			padding-right: var(--wp--preset--spacing--edge-space);
		}
	}
}

// Four column grid is only supported on wide & full widths.
.is-style-four-columns:where(.alignwide, .alignfull) {

	@include break-xlarge() {
		justify-self: center;
		width: 100%;
		max-width: var(--wp--custom--layout--wide-size);

		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: var(--wp--style--block-gap);

		> * {
			// Remove nested margins so each child is vertically aligned.
			margin: 0 !important;
		}
	}
}

.is-style-features {
	--wporg--style--feature--offset: 0.2em;
	--wporg--style--feature--li-height: 1.1;
	padding: 0;
	list-style: none;
	font-size: var(--wp--preset--font-size--heading-1);
	font-weight: 200;
	line-height: var(--wporg--style--feature--li-height);

	> li {
		overflow: hidden;
		box-sizing: border-box;
		height: calc(var(--wporg--style--feature--li-height) * 1em);
		padding-top: var(--wporg--style--feature--offset);
		padding-left: var(--wp--preset--spacing--50);
		padding-right: var(--wp--preset--spacing--50);
		color: #6682ff; // Hardcoded color for better contrast.
		border-bottom: 1px solid var(--wp--preset--color--blueberry-3);
		transition: all 0.2s ease-in-out;

		a {
			text-decoration: none;
		}

		&:hover,
		&:focus,
		&:focus-within {
			padding-top: 0;
			color: var(--wp--preset--color--blueberry-1);
		}
	}

	// Make sure to remove padding from blocks with background colors.
	&.has-background {
		padding: 0;
	}

	// Use the set text color, if one exists.
	&.has-text-color li {
		color: inherit;
	}

	// Blocks with set font sizes should still use this line height.
	&[class*="-font-size"] {
		line-height: var(--wporg--style--feature--li-height);
	}
}

.is-style-links-list {
	padding: 0;
	list-style: none;
	font-size: var(--wp--preset--font-size--extra-large);
	line-height: 1.125;

	> li {
		padding: 14px 0;
		// Use the current text color, to support different text/background color combos.
		border-bottom: 1px solid currentColor;

		a {
			text-decoration: none;

			&:hover,
			&:focus {
				text-decoration-line: underline;
				text-decoration-thickness: 1px;
				text-underline-offset: 0.15em;
			}
		}

		&:first-of-type {
			border-top: 1px solid currentColor;
		}
	}

	// Remove padding from blocks with background colors.
	&.has-background {
		padding: 0;
	}

	// If the text color is set to white, the border should be semi-transparent.
	// This matches the design, when the list is used inside a blue background.
	&.has-white-color > li,
	.has-white-color > & > li,
	.has-white-color *:not(.has-text-color) & > li {
		border-color: rgba(255 255 255 / 0.2);
	}
}

.is-style-cards-grid,
// Required to override link styles in the editor
.wp-block-post-content .is-style-cards-grid {
	display: grid;
	grid-auto-rows: 1fr;

	@include break-small-only() {
		grid-template-columns: 1fr;
		grid-auto-rows: unset;
	}

	> * {
		display: flex;

		> a {
			flex: 1 1 auto;
			padding: var(--wp--preset--spacing--20);
			border: 1px solid var(--wp--preset--color--light-grey-1);
			text-decoration: none;
			color: var(--wp--preset--color--charcoal-1);
			border-radius: 2px;

			strong {
				display: block;
				margin-bottom: var(--wp--preset--spacing--10);
				color: var(--wp--custom--link--color--text);
			}

			&:hover {
				background-color: var(--wp--preset--color--light-grey-2);
			}

			&:focus {
				border-color: transparent;
			}

			&:focus-visible {
				outline: 1.5px solid var(--wp--preset--color--blueberry-1);
				outline-offset: -1.5px;
			}
		}
	}
}

.is-style-serif {
	font-family: var(--wp--custom--heading--typography--font-family);
	font-size: var(--wp--preset--font-size--heading-5);
	line-height: var(--wp--custom--heading--level-5--typography--line-height);
}

.is-style-short-text {
	line-height: var(--wp--custom--body--short-text--typography--line-height);
}

.is-style-with-arrow a[href]:first-of-type {
	// Note, these are Sass variables to make the math easier. While we could do
	// this with `calc()`s, it would be even more unruly.
	$sqrt_2: 1.4142;
	// Once rotated, the diagonal of the square is larger than the container.
	// The diagonal should be 1em, so that it matches the content height.
	// To achieve that, we need to find the side of a triangle with
	// `hypotenuse=1em`, which can be calculated by dividing the side by √2.
	$arrow_size: math.div(1em, $sqrt-2);
	// We also save a variable with half the hypotenuse for later calculations.
	$half_hyp: 0.5em;

	// This can be a custom property since we could let the editor control later.
	--wporg--style--with-arrow--border-size: 1px;

	position: relative;
	text-decoration: none;
	text-decoration-line: none;
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	gap: 0.25em;

	@include break-large() {
		grid-template-columns: auto 1fr;
		gap: 0.5em;
	}

	&::before,
	&::after {
		content: "";
		display: block;
		transition: all 0.15s linear;
		box-sizing: border-box;
		grid-row: 1;
		grid-column: 2;

		@media (max-width: #{ ($break-large - 1) }) {
			grid-row: 2;
			grid-column: 1;
		}
	}

	&::before {
		position: relative;
		// Pull the arrow back by the extra space to the corner point. Add back
		// the border width to prevent the end poking out under the arrow.
		left: calc(#{($half_hyp - math.div($arrow-size, 2)) * -1} + var(--wporg--style--with-arrow--border-size));
		height: $arrow_size;
		min-width: $arrow_size;
		max-width: $arrow_size;
		border-top: var(--wporg--style--with-arrow--border-size) solid currentColor;
		border-right: var(--wporg--style--with-arrow--border-size) solid currentColor;
		transform: rotate(45deg);
		transform-origin: center;
		justify-self: end;

		@media (max-width: #{ ($break-large - 1) }) {
			// Use a smaller arrow on small screens.
			$arrow_size: math.div(0.5em, $sqrt-2);
			$half_hyp: 0.25em;

			// Since this is Sass, not custom properties, the properties also need to be set again.
			left: calc(#{($half_hyp - math.div($arrow-size, 2)) * -1} + var(--wporg--style--with-arrow--border-size));
			height: $arrow_size;
			min-width: $arrow_size;
			max-width: $arrow_size;
		}
	}

	&::after {
		height: var(--wporg--style--with-arrow--border-size);
		width: 100%;
		min-width: 3em;
		background: currentColor;

		// Fix issue in GB, where ::after is absolutely positioned.
		.editor-styles-wrapper & {
			position: revert !important;
		}

		@media (max-width: #{ ($break-large - 1) }) {
			margin-left: 0;
		}
	}

	&:hover,
	&:focus,
	&:focus-within {
		text-decoration-line: underline;
		text-decoration-thickness: 1px;
		text-underline-offset: 0.15em;

		&::before {
			transform: translateX(#{math.div($arrow_size, 2)}) rotate(45deg);
		}

		&::after {
			transform: translateX(#{math.div($arrow_size, 2)});
		}
	}
}

.wp-block-navigation.is-style-dots {
	// Remove the gap, since the dots function as spacing.
	gap: 0;

	.wp-block-navigation-item {
		&::after {
			content: "·";
			color: var(--wp--preset--color--charcoal-4);
			width: 1em;
			text-align: center;
			position: relative;
		}

		&.wp-block-navigation-submenu::after,
		.wp-block-navigation-item::after,
		&:last-of-type::after {
			content: "";
		}
	}

	// Remove the dots from the mobile menu.
	.has-modal-open .wp-block-navigation-item::after {
		content: "";
	}

	// The dots should default to charcoal-4, but if there is a custom color, use that.
	&.has-text-color .wp-block-navigation-item::after,
	.has-text-color & .wp-block-navigation-item::after {
		color: inherit;
		opacity: 0.5;
	}
}

.is-style-brush-stroke {
	position: relative;

	&::before {
		content: "";
		min-height: var(--wp--custom--brush-stroke--spacing--height);
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		width: auto;
		mask-image: url(../images/brush-stroke-mask.svg);
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: bottom right;
		background-color: inherit;
	}
}

/**
 * Add the "Dropdown on Mobile" style for menus.
 */

.wp-block-navigation.is-style-dropdown-on-mobile {
	position: relative;

	&.has-background a {
		padding: 0;
	}

	.wp-block-navigation__responsive-container-open {
		background-image: url(../images/down-chevron.svg);
		background-position: center;
		background-repeat: no-repeat;
		height: 24px;
		width: 24px;

		svg {
			display: none;
		}

		.has-modal-open & {
			display: none;
		}
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		position: relative;
		width: 100%;
		padding: 0;
		overflow: visible;
		animation: overlay-menu__drop-down-animation 0.1s ease-out;

		.wp-block-navigation__responsive-dialog {
			margin-top: 0;
		}

		.wp-block-navigation__responsive-container-content {
			padding: 0 var(--wp--preset--spacing--20) var(--wp--preset--spacing--20);
		}

		.wp-block-navigation__responsive-container-close {
			background-image: url(../images/up-chevron.svg);
			background-position: center;
			background-repeat: no-repeat;
			height: 24px;
			width: 24px;

			svg {
				display: none;
			}
		}
	}
}

// Use a dark chevron when the nav text is charcoal-1 or blueberry-1.
.wp-block-navigation.is-style-dropdown-on-mobile.has-charcoal-1-color,
.wp-block-navigation.is-style-dropdown-on-mobile.has-blueberry-1-color {
	.wp-block-navigation__responsive-container-open {
		background-image: url(../images/down-chevron-dark.svg);
	}

	.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-close {
		background-image: url(../images/up-chevron-dark.svg);
	}
}

@keyframes overlay-menu__drop-down-animation {
	from {
		opacity: 0;
		transform: translateY(-0.5em);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

/**
 * Add support for a "sticky" header by using the `is-sticky` class. At 890px,
 * this will snap to under the global header, and stay fixed while scrolling.
 */

.is-sticky {
	// Locally override this value to create a fixed breakpoint, rather than the
	// scaling effect from `clamp(…)`.
	--wp--preset--spacing--60: 20px;
}

@media (min-width: 890px) {
	// Only add this for pages with the block on it.
	html:has(.is-sticky) {
		// 57px is height of the sticky bar.
		scroll-padding-top: calc(var(--wp-global-header-offset, 0px) + 57px);
	}

	.is-sticky {
		// When larger than 890px, this should snap to 80px.
		--wp--preset--spacing--60: 80px;
		position: sticky;
		top: var(--wp-global-header-offset, 0);
		z-index: 50;
	}
}

/**
 * Update the "Dropdown on Mobile" style when the menu is inside a sticky header.
 */

.is-sticky .is-style-dropdown-on-mobile {
	.wp-block-navigation__responsive-container-open {
		position: absolute;
		right: 0;
		top: -12px; // half the button height.
	}

	.wp-block-navigation__responsive-container.is-menu-open {
		margin-top: -24px; // button height.
		margin-right: calc(-1 * var(--wp--preset--spacing--60));
		margin-left: calc(-1 * var(--wp--preset--spacing--60));
		width: 100vw;

		.wp-block-navigation__responsive-container-content {
			padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--60);

			.wp-block-navigation__container {
				gap: 0;
			}
		}

		.wp-block-navigation-item__content {
			padding-top: var(--wp--preset--spacing--10);
			padding-bottom: var(--wp--preset--spacing--10);
		}

		.wp-block-navigation__responsive-container-close {
			right: var(--wp--preset--spacing--60);
			top: -24px;
		}
	}
}

.is-style-list-long-items > li {
	margin-bottom: var(--wp--preset--spacing--20);
}
