/*
 * Fixes for the editor, to better match the frontend.
 */
@import "base/breakpoints";
@import "blocks/button";
@import "blocks/navigation";

.wp-block-post-template {
	width: 100%;

	.edit-site-block-editor__block-list & {
		display: block;
	}
}

.is-style-two-column-display,
.wp-block-columns.is-style-two-column-display {
	display: grid;
	justify-content: stretch;
}

// Overwrite a style from wp4.css.
h3 a {
	font-weight: revert; // stylelint-disable-line font-weight-notation
}

.wp-block-heading.is-style-with-arrow {
	white-space: revert !important;
}
