// Links
a {
	cursor: pointer;
	text-decoration: none;
	text-decoration-thickness: 1px;
	text-underline-offset: 0.15em;
	font-weight: revert; // stylelint-disable-line font-weight-notation

	&:hover,
	&:focus {
		text-decoration-line: underline;
	}
}

// Text highlighted via the editor
mark.has-inline-color {
	background-color: transparent;
}

// Links that appear in the main content area
.block-editor-block-list__layout a, // Needed for the post area
.wp-block-post-content a {
	text-decoration-line: underline;

	&:hover,
	&:focus {
		text-decoration: none;
	}
}

// Inline code tags should use the monospace font.
code {
	font-family: var(--wp--preset--font-family--monospace);
}

// Captions
figure[class*="wp-block-"],
[class*="wp-block-"] {
	figcaption,
	.wp-element-caption {
		text-align: right;
	}

	&.wp-block-gallery.has-nested-images {
		> figcaption,
		> .wp-element-caption {
			margin-top: 0;
		}
	}

	&.alignfull {
		> figcaption,
		> .wp-element-caption {
			padding-right: var(--wp--style--block-gap);
		}
	}
}


// Forms
input.wp-block-search__input,
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	background: var(--wp--custom--form--color--background);
	border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--wp--custom--form--border--color);
	border-radius: var(--wp--custom--form--border--radius);
	box-shadow: var(--wp--custom--form--color--box-shadow);
	font-family: inherit;
	padding: var(--wp--custom--form--padding);

	&:focus {
		border-color: var(--custom--form--color--border);
	}
}

select {
	font-family: inherit;
	font-size: 100%;
}

textarea {
	width: 100%;
}

// Vertically align checkbox + label relationship
input[type="checkbox"] + label {
	display: inline;
	margin-left: 0.5em;
	line-height: 1em; // stylelint-disable-line declaration-property-unit-allowed-list
}

// Line heights for custom sizes.
.has-extra-small-font-size {
	line-height: var(--wp--custom--body--extra-small--typography--line-height);
}

.has-small-font-size {
	line-height: var(--wp--custom--body--small--typography--line-height);
}

.has-normal-font-size {
	line-height: var(--wp--custom--body--typography--line-height);
}

.has-large-font-size {
	line-height: var(--wp--custom--body--large--typography--line-height);
}

.has-extra-large-font-size {
	line-height: var(--wp--custom--body--extra-large--typography--line-height);
}

.has-huge-font-size {
	line-height: var(--wp--custom--body--huge--typography--line-height);
}

.has-heading-6-font-size {
	line-height: var(--wp--custom--heading--level-6--typography--line-height);
}

.has-heading-5-font-size {
	line-height: var(--wp--custom--heading--level-5--typography--line-height);
}

.has-heading-4-font-size {
	line-height: var(--wp--custom--heading--level-4--typography--line-height);
}

.has-heading-3-font-size {
	line-height: var(--wp--custom--heading--level-3--typography--line-height);
}

.has-heading-2-font-size {
	line-height: var(--wp--custom--heading--level-2--typography--line-height);
}

.has-heading-1-font-size {
	line-height: var(--wp--custom--heading--level-1--typography--line-height);
}

.has-heading-cta-font-size {
	line-height: var(--wp--custom--heading--cta--typography--line-height);
}

// Helper class for template part containers.
.has-display-contents {
	display: contents;
}
