// Setup the main container to use a flex box-model allowing us to simplify the layout and "sticky" bar.
.wp-site-blocks {
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - var(--wp-global-header-offset, 0px) - var(--local-header-height, 0px));
	overflow-wrap: break-word;

	> main,
	> article {
		// Make the content area grow to fill any remaining space on the screen,
		// so that the footer is pushed to the bottom.
		margin-bottom: auto;
	}

	> * + * {
		margin-block-start: 0;
	}
}

@include break-mobile {
	// limit size of any element that is aligned left/right
	.wp-block[data-align="left"], // This is for the editor
	.wp-block[data-align="right"], // This is for the editor
	.wp-site-blocks .alignleft,
	.wp-site-blocks .alignright {
		max-width: var(--wp--custom--alignment--aligned-max-width);
	}
}
