@mixin button-main-styles {

	@include button-padding-styles;
	@include button-typography-styles;
	@include button-color-styles;
	border-radius: var(--wp--custom--button--border--radius);
}

@mixin button-color-styles {
	opacity: 1;
	color: var(--wp--custom--button--color--text);
	background-color: var(--wp--custom--button--color--background);
	border: none;

	svg {
		fill: var(--wp--custom--button--color--text);
	}

	&:hover,
	&:focus {
		color: var(--wp--custom--button--hover--color--text);
		background-color: var(--wp--custom--button--hover--color--background);

		svg {
			fill: var(--wp--custom--button--hover--color--text);
		}
	}

	&:focus {
		background-color: var(--wp--custom--button--color--background);
		box-shadow: inset 0 0 0 3px #fff;
		outline: 1.5px solid var(--wp--custom--button--focus--border--color);
		outline-offset: -1.5px;
	}

	&:active {
		padding-top: var(--wp--custom--button--spacing--padding--top);
		padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
		padding-left: var(--wp--custom--button--spacing--padding--left);
		padding-right: var(--wp--custom--button--spacing--padding--right);
		border: var(--wp--custom--button--border--width) solid currentColor;
		color: var(--wp--custom--button--active--color--text);
		background-color: var(--wp--custom--button--active--color--background);

		svg {
			fill: var(--wp--custom--button--active--color--text);
		}
	}
}

@mixin button-padding-styles {
	// Standard button does not have a border, so the padding needs to include border size.
	// This ensures the outline and filled button are the same height.
	border-width: 0;
	padding-top: calc(var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
	padding-bottom: calc(var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
	padding-left: calc(var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
	padding-right: calc(var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
}

@mixin button-typography-styles {
	font-weight: var(--wp--custom--button--typography--font-weight);
	font-family: inherit;
	font-size: var(--wp--custom--button--typography--font-size);
	line-height: var(--wp--custom--button--typography--line-height);
	text-decoration: none; // Needed because link styles inside .entry-content add a text decoration
}

@mixin button-outline-styles {
	background-color: var(--wp--custom--button--outline--color--background);
	border: var(--wp--custom--button--border--width) solid var(--wp--custom--button--outline--border--color);
	color: var(--wp--custom--button--outline--color--text);

	// Padding does not account for border width.
	padding-top: var(--wp--custom--button--spacing--padding--top);
	padding-bottom: var(--wp--custom--button--spacing--padding--bottom);
	padding-left: var(--wp--custom--button--spacing--padding--left);
	padding-right: var(--wp--custom--button--spacing--padding--right);

	&:hover,
	&:focus {
		background-color: var(--wp--custom--button--outline--hover--color--background);
		border-color: var(--wp--custom--button--outline--hover--border--color);
		color: var(--wp--custom--button--outline--hover--color--text);
	}

	&:focus {
		// Need to update the padding since the border was removed.
		padding-top: calc(var(--wp--custom--button--spacing--padding--top) + var(--wp--custom--button--border--width));
		padding-bottom: calc(var(--wp--custom--button--spacing--padding--bottom) + var(--wp--custom--button--border--width));
		padding-left: calc(var(--wp--custom--button--spacing--padding--left) + var(--wp--custom--button--border--width));
		padding-right: calc(var(--wp--custom--button--spacing--padding--right) + var(--wp--custom--button--border--width));
		border-width: 0;
		background-color: var(--wp--custom--button--outline--focus--color--background);
		outline-color: var(--wp--custom--button--outline--focus--border--color);
	}

	&:active {
		background-color: var(--wp--custom--button--outline--active--color--background);
		border-color: var(--wp--custom--button--outline--active--border--color);
		color: var(--wp--custom--button--outline--active--color--text);
	}
}
