@import "button-mixins";

/**
 * Button
 */

// Uses `wp-block` to catch other blocks that use the wp-block-button__link class, like the subscription form.
[class*="wp-block"] {
	.wp-block-button__link {

		@include button-color-styles;
		@include button-main-styles;
	}

	&.is-style-outline,
	&.is-style-outline-on-dark {
		.wp-block-button__link {

			@include button-color-styles;
			@include button-outline-styles;
		}
	}

	&.is-style-fill-on-dark {
		--wp--custom--button--color--text: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--color--background: var(--wp--preset--color--white);
		--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--hover--color--background: var(--wp--preset--color--blueberry-2);
		--wp--custom--button--active--color--text: var(--wp--preset--color--white);
		--wp--custom--button--active--color--background: transparent;
	}

	&.is-style-outline-on-dark {
		--wp--custom--button--outline--color--text: var(--wp--preset--color--white);

		--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--blueberry-2);
		--wp--custom--button--outline--hover--color--background: transparent;
		--wp--custom--button--outline--hover--border--color: var(--wp--preset--color--blueberry-2);

		--wp--custom--button--outline--active--color--text: var(--wp--preset--color--white);
		--wp--custom--button--outline--active--color--background: transparent;
		--wp--custom--button--outline--active--border--color: var(--wp--preset--color--white);

		.wp-block-button__link:focus {
			outline-color: var(--wp--custom--button--outline--hover--color--text);
		}
	}
}
