@import "button-mixins";

/**
 * Button
 */

// Uses `wp-block` to catch other blocks that use the wp-block-button__link class, like the subscription form.
[class*="wp-block"] {
	.wp-block-button__link {

		@include button-color-styles;
		@include button-main-styles;
	}

	&.is-small {
		.wp-block-button__link {

			@include button-small-styles;
		}
	}

	&.is-style-toggle {
		position: relative;

		.wp-block-button__link {

			@include button-toggle-styles;
		}

		input[type="checkbox"]:checked + .wp-block-button__link,
		.wp-block-button__link[aria-pressed="true"],
		.wp-block-button__link[aria-selected="true"] {

			@include button-toggle-active-styles;

			&:focus {
				--wp--custom--button--outline--focus--color--background: var(--wp--preset--color--charcoal-1);
				--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--white);
			}
		}

		input[type="checkbox"]:focus + .wp-block-button__link {

			@include button-color-focus-styles;
			@include button-outline-focus-styles;
			@include button-toggle-focus-styles;

			&:hover {
				--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--charcoal-1);
				--wp--custom--button--outline--focus--color--background: var(--wp--preset--color--light-grey-1);
			}
		}

		input[type="checkbox"]:focus:checked + .wp-block-button__link {
			--wp--custom--button--outline--focus--color--background: var(--wp--preset--color--charcoal-1);

			&:hover {
				--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--white);
			}
		}
	}

	&.is-style-text {
		.wp-block-button__link {

			@include button-text-styles;
		}
	}

	&.is-style-outline,
	&.is-style-outline-on-dark {
		color: var(--wp--custom--button--outline--color--text);

		.wp-block-button__link {

			@include button-color-styles;
			@include button-outline-styles;
		}
	}

	&.is-style-fill-on-dark {
		--wp--custom--button--color--text: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--color--background: var(--wp--preset--color--white);
		--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--hover--color--background: var(--wp--preset--color--blueberry-2);
		--wp--custom--button--active--color--text: var(--wp--preset--color--white);
		--wp--custom--button--active--color--background: transparent;
		--wp--custom--button--active--border--color: var(--wp--preset--color--blueberry-2);
		--wp--custom--button--focus--border--color: var(--wp--preset--color--blueberry-1);

		.wp-block-button__link:focus {
			box-shadow: inset 0 0 0 3px var(--wp--custom--button--focus--border--color);
			outline-color: #fff;
		}
	}

	&.is-style-outline-on-dark {
		--wp--custom--button--outline--color--text: var(--wp--preset--color--white);

		--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--blueberry-2);
		--wp--custom--button--outline--hover--color--background: transparent;
		--wp--custom--button--outline--hover--border--color: var(--wp--preset--color--blueberry-2);

		--wp--custom--button--outline--active--color--text: var(--wp--preset--color--charcoal-1);
		--wp--custom--button--outline--active--color--background: var(--wp--preset--color--white);
		--wp--custom--button--outline--active--border--color: var(--wp--preset--color--white);

		.wp-block-button__link:focus {
			background-color: var(--wp--custom--button--outline--color--background);
			color: var(--wp--custom--button--outline--color--text);
			outline-color: var(--wp--preset--color--white);
			box-shadow: inset 0 0 0 3px var(--wp--custom--button--outline--hover--border--color);
		}
	}

	// Block style for navigation, but uses button style mixins.
	&.is-style-button-list {
		gap: 0;

		.wp-block-navigation-item__content {
			--wp--custom--button--outline--border--color: transparent !important;
			--wp--custom--button--outline--hover--border--color: var(--wp--preset--color--light-grey-2) !important;
			--wp--custom--button--outline--hover--color--background: var(--wp--preset--color--light-grey-2) !important;
			border-radius: 2px;

			&:hover,
			&:focus {
				text-decoration: none;
			}

			&:focus {

				@include button-color-focus-styles;
			}

			@include button-small-styles;
			@include button-toggle-styles;
		}

		.current-menu-item .wp-block-navigation-item__content {

			@include button-toggle-active-styles;

			--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--white);
			--wp--custom--button--outline--focus--color--background: var(--wp--preset--color--charcoal-1);

			&:hover {
				--wp--custom--button--outline--hover--color--text: var(--wp--preset--color--charcoal-1);
				--wp--custom--button--outline--hover--color--background: var(--wp--preset--color--light-grey-2);
			}
		}
	}
}
