// Override the default styles that a block has from Core, it's plugin, etc.
@import "button";
@import "columns";
@import "file";
@import "list";
@import "navigation";
@import "paragraph";
@import "post-excerpt";
@import "post-navigation-link";
@import "post-title";
@import "pullquote";
@import "query-pagination";
@import "quote";
@import "search";
@import "separator";
@import "table";

