// Both selectors for increased specificity.
.wp-block-pullquote {
	min-height: var(--wp--custom--pullquote--spacing--min-height);
	padding: calc(var(--wp--custom--margin--vertical) * 1.333) 0 0;
	background-image: url(../images/quotemark.svg);
	background-repeat: no-repeat;
	background-position: top left;
	background-size: 200px auto;
	font-size: var(--wp--custom--pullquote--typography--font-size);
	text-align: var(--wp--custom--pullquote--typography--text-align);
	margin-top: calc(var(--wp--custom--margin--vertical) * 1.333);
	margin-bottom: calc(var(--wp--custom--margin--vertical) * 3);

	@include break-small {
		background-size: contain;
	}

	&.alignfull {
		background-position: -45px 0;
		padding-left: var(--wp--custom--margin--horizontal);
		padding-right: var(--wp--custom--margin--horizontal);
	}

	@include break-medium {
		padding: 115px 0 0 185px;

		&.alignfull {
			padding: 115px var(--wp--custom--margin--horizontal) 0 185px;
		}
	}

	blockquote {
		padding: 0;
		margin: 0;

		p {
			font-size: 1em;
			padding: 0;
			margin: 0;
			line-height: inherit;
		}

		cite {
			display: block;
			font-size: var(--wp--custom--pullquote--citation--typography--font-size);
			font-style: var(--wp--custom--pullquote--citation--typography--font-style);
			font-family: var(--wp--custom--pullquote--citation--typography--font-family);
			margin-top: var(--wp--custom--pullquote--citation--spacing--margin--top);
			color: var(--wp--preset--color--blueberry-1);

			&::before {
				content: "—";
			}
		}
	}

	b,
	strong {
		// Quotes should never have bold text.
		font-weight: 400;
	}
}
