.query-navigation-container {
	padding: 2em 0;
}

.wp-block-query-pagination {
	line-height: normal;
	color: var(--wp--custom--link--color--text);
	padding-top: 40px;
	padding-bottom: 64px;
	gap: 0 !important;

	@include break-small-only() {
		justify-content: center;
	}

	> .wp-block-query-pagination-previous,
	> .wp-block-query-pagination-numbers,
	> .wp-block-query-pagination-next {
		margin-bottom: 0;
		margin-right: 0;
	}

	.wp-block-query-pagination-previous {
		&::after {
			content: "\00B7";
			display: inline-block;
			padding: 0 8px;
		}
	}

	.wp-block-query-pagination-next {
		&::before {
			content: "\00B7";
			display: inline-block;
			padding: 0 8px;
		}
	}

	.wp-block-query-pagination-numbers {
		> * {
			display: inline-block;
			padding: 0 2px;
		}

		.current {
			text-decoration: underline;
		}
	}
}
