@import "button-mixins";

.wp-block-search {
	// Set the custom properties so hover/focus/etc still work.
	--wp--custom--button--color--text: var(--wp--preset--color--charcoal-1);
	--wp--custom--button--color--background: transparent;
	--wp--custom--button--hover--color--text: var(--wp--preset--color--charcoal-1);
	--wp--custom--button--hover--color--background: var(--wp--preset--color--light-grey-2);
	// Set a local custom property so child themes can set this in one place.
	--local--border-color: var(--wp--custom--form--border--color);

	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-top: var(--wp--custom--margin--baseline);

	> label {
		width: 100%;
		margin-bottom: calc(var(--wp--custom--form--padding) / 2);
		font-size: var(--wp--custom--form--typography--font-size);
		color: var(--wp--custom--form--color--label);
	}

	&.wp-block-search__button-inside {
		.wp-block-search__inside-wrapper {
			padding: 0;
			border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--local--border-color);
			border-radius: var(--wp--custom--form--border--radius);
			background-color: var(--wp--custom--form--color--background);

			.wp-block-search__input {
				border-radius: var(--wp--custom--form--border--radius) 0 0 var(--wp--custom--form--border--radius);
			}

			.wp-block-search__button {
				border-radius: 0 var(--wp--custom--form--border--radius) var(--wp--custom--form--border--radius) 0;
			}
		}
	}

	&.wp-block-search__button-outside {
		.wp-block-search__input {
			border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--local--border-color);
		}

		.wp-block-search__button {
			color: var(--wp--custom--form--color--label);

			svg {
				fill: var(--wp--custom--form--color--label);
			}
		}
	}

	.wp-block-search__input {
		border: none;
		background-color: var(--wp--custom--form--color--background);
		font-size: var(--wp--custom--form--typography--font-size);
		line-height: var(--wp--custom--button--typography--line-height);

		&::placeholder {
			opacity: 1;
			color: var(--wp--custom--form--color--placeholder);
		}
	}

	&.wp-block-search__no-button .wp-block-search__input {
		min-height: var(--wp--preset--spacing--40);
		border: var(--wp--custom--form--border--width) var(--wp--custom--form--border--style) var(--local--border-color);
		border-radius: var(--wp--custom--form--border--radius);
	}

	.wp-block-search__button {

		@include button-main-styles;
		@include button-color-styles;

		border-radius: var(--wp--custom--form--border--radius);

		&.has-icon {
			line-height: 0;

			// The user needs some kind of indication that the search icon is a button that can be clicked to
			// submit the form, because these buttons don't have the normal indicators. For background, see:
			// https://ux.stackexchange.com/questions/105024/why-dont-button-html-elements-have-a-css-cursor-pointer-by-default
			&:hover {
				cursor: pointer;
			}
		}
	}

	&.wp-block-search__icon-button .wp-block-search__button {
		padding: calc(var(--wp--custom--form--padding) / 2);
	}

	&.wp-block-search__text-button .wp-block-search__button {
		font-size: var(--wp--custom--form--typography--font-size);
		padding: var(--wp--custom--form--padding);
	}

	@include break-small-only {
		--wp--custom--form--typography--font-size: 16px;
	}
}

.is-style-secondary-search-control {
	--local--border-color: var(--wp--preset--color--charcoal-1);
	--wp--custom--form--color--label: var(--wp--preset--color--charcoal-1);
}
