<!-- wp:template-part {"slug":"header","className":"site-header-container"} /-->

<!-- wp:group {"tagName":"article","layout":{"inherit":true}} -->
<article class="wp-block-group">
	<!-- wp:group {"tagName":"header","align":"full","style":{"spacing":{"margin":{"top":"32px"}}},"className":"entry-header two-column-grid-container"} -->
	<header class="wp-block-group alignfull entry-header two-column-grid-container" style="margin-top:32px">
		<!-- wp:group {"style":{"spacing":{"blockGap":"0px"}},"className":"entry-meta","layout":{"type":"flex","orientation":"vertical"}} -->
		<div class="wp-block-group entry-meta">
			<!-- wp:post-date /-->
			<!-- wp:group {"style":{"spacing":{"blockGap":"0.5em"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
			<div class="wp-block-group">
				<!-- wp:paragraph -->
				<p>By</p>
				<!-- /wp:paragraph -->

				<!-- wp:post-author-name {"isLink":true} /-->
			</div>
			<!-- /wp:group -->
		</div>
		<!-- /wp:group -->

		<!-- wp:post-title {"level":1,"className":"is-right-column","style":{"spacing":{"margin":{"top":"0px"}}}} /-->
	</header>
	<!-- /wp:group -->

	<!-- wp:group {"style":{"spacing":{"blockGap":"0px","margin":{"top":"0px"}}},"align":"full","layout":{"inherit":true}} -->
	<div class="wp-block-group alignfull" style="margin-top:0px">
		<!-- wp:spacer {"height":"70px"} -->
		<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:separator {"color":"light-grey","align":"full","className":"is-style-wide"} -->
		<hr class="wp-block-separator alignfull has-text-color has-background has-light-grey-background-color has-light-grey-color is-style-wide" />
		<!-- /wp:separator -->

		<!-- wp:spacer {"height":"70px"} -->
		<div style="height:70px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"tagName":"section","style":{"spacing":{"margin":{"top":"0px"}}},"align":"full"} -->
	<section class="wp-block-group alignfull" style="margin-top:0px">
		<!-- wp:post-content {"layout":{"inherit":true},"className":"is-style-two-column-display"} /-->
	</section>
	<!-- /wp:group -->
</article>
<!-- /wp:group -->

<!-- wp:spacer -->
<div style="height:100px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer"} /-->
