name: Build and push to build branch.

on:
    push:
        # `try/build-branch` only here for testing, can remove once PR is merged.
        branches: [trunk, try/build-branch]

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@ec3a7ce113134d7a93b817d10a8272cb61118579 # v2.4.0

            - name: Install NodeJS
              uses: actions/setup-node@5b52f097d36d4b0b2f94ed6de710023fbb8b2236 # v3.1.0
              with:
                  node-version-file: '.nvmrc'
                  cache: 'yarn'

            - name: Install all dependencies
              run: |
                  composer install
                  yarn

            - name: Build
              run: yarn workspaces run build

            - name: Trim the repo down to just the theme
              run: |
                  cp -R source/wp-content/themes/wporg-parent-2021 theme
                  rm -rf theme/node_modules
                  git rm -r .
                  mv theme/* .
                  rm -r theme

            # Add a composer.json so we can set the type to `wordpress-theme`.
            - name: Create the composer.json
              run: |
                  echo "{\n\t\"name\": \"wporg/wporg-parent-2021\",\n\t\"type\": \"wordpress-theme\"\n}" > composer.json

            - name: Add all the theme files
              run: |
                  git add * --force

            - name: Commit and push
              uses: actions-js/push@a52398fac807b0c1e5f1492c969b477c8560a0ba # 1.3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  branch: build
                  force: true
                  message: 'Build: ${{ github.sha }}'
